# @package _global_

judge_name: ContainsAbstentionKeyword

abstention_detector:
  _target_: recipe.evaluation.ContainsAbstentionKeywordAbstentionDetector
  save_dir: ${save_dir}

abstention_detector_launcher:
  gres: gpu:1
  nodes: 1
  tasks_per_node: 1
  cpus_per_task: 8
  timeout_min: 400
  partition: gpu
  qos: gpu
  comment: "abstention-bench eval step"
  additional_parameters:
    mem: 8G  # Use raw SLURM parameter instead
  setup:
    - 'export SLURM_EXPORT_ENV=ALL'
    - 'module load GCC'
    - 'module load CUDA/12.4'
    - 'export VLLM_USE_V1=0'
