# @package _global_

defaults:
  - override /hydra/launcher: submitit_slurm

project: abstention-bench

gpus: 1

hydra:
  launcher:
    tasks_per_node: ${gpus}
    cpus_per_task: 8
    gres: gpu:1
    nodes: 1
    timeout_min: 400
    partition: gpu
    qos: gpu
    comment: ${project}

    additional_parameters:
      mem: 8G  # Use raw SLURM parameter instead
    setup:
      - 'export SLURM_EXPORT_ENV=ALL'
      - 'module load GCC'
      - 'module load CUDA/12.4'
      - 'export VLLM_USE_V1=0'